@using Microsoft.AspNetCore.Identity
@using AdminPanel.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
#nullable disable
}
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="dropdown nav-item">
            <a class="nav-link text-dark dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                @{
                    if (User != null)
                    {
                        if (UserManager.GetUserAsync(User).Result?.FullName != null)
                        {
                            var fullname = UserManager.GetUserAsync(User).Result?.FirstName + " " + UserManager.GetUserAsync(User).Result?.LastName;
                            <span>@fullname</span>
                        }
                    }
                }
            </a>
            <ul class="dropdown-menu">
                @{
                    if (User != null)
                    {
                        if (User.IsInRole("SuperAdmin"))
                        {
                            <li>
                                <a class="nav-link text-dark dropdown-item" asp-area="Admin" asp-page="/Dashboard/Index">Dashboard</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a class="nav-link text-dark dropdown-item" asp-area="User" asp-page="/Dashboard/Index">Dashboard</a>
                            </li>
                        }
                    }
                }
                <li>
                    <a class="nav-link text-dark dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Manage Account</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn shadow-none btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="">
            <a class="btn px-5 py-2 btn-success text-light" asp-area="Identity" asp-page="/Account/Register">
                Register
            </a>
        </li>
        <li class="ml-3">
            <a class="btn px-5 py-2 btn-success text-light" asp-area="Identity" asp-page="/Account/Login">
                Login
            </a>
        </li>
    }
</ul>
