@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "danger" : "success";
    <div class="alert my-1 py-2 alert-@statusMessageClass alert-dismissible" role="alert">
        <button type="button" class="btn-close shadow-none p-3 text-white" data-bs-dismiss="alert" aria-label="Close"></button>
        <span class="text-center">@Model</span>
    </div>
}
