@page
@using AdminPanel.Models
@model AdminPanel.Areas.Admin.Pages.Roles.IndexModel
@{
    ViewData["Title"] = "Roles";
    Layout = "_Dashboard";
}


<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Roles DataTables</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">DataTables</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="col-md-12">
                <partial name="_StatusMessage" for="StatusMessage" />
            </div>
            <form id="createForm needs-validation" method="post" asp-area="Admin" asp-page="/ManageRoles/Create">
                <div class="row align-items-center">
                    <div class="col-md-10">
                        <div class="form-floating mb-0 py-1">
                            <input name="roleName" id="roleName" class="form-control shadow-none" placeholder="Role name">
                            <label for="Role name" class="form-label">Role name</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-success py-3 px-4 shadow-none">Create</button>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">DataTable with every role data</h3>
                        </div>
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>No of users</th>
                                        <th>Date created</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (Model.RoleList != null)
                                        {
                                            @foreach (ApplicationRole role in Model.RoleList)
                                            {
                                                <tr>
                                                    <td>
                                                        <a asp-action="" asp-controller="User">
                                                            @role.Name
                                                        </a>
                                                    </td>
                                                    <td>
                                                        @role.NoOfUser
                                                    </td>
                                                    <td>
                                                        @role.DateCreated.ToString("MMM dd, yyyy")
                                                    </td>
                                                    <td class="dropdown">
                                                        <a asp-area="Admin" asp-page="/ManageRoles/Profile/Index" asp-route-id="@role.Id" class="btn btn-success shadow-none">
                                                            Manage
                                                        </a>
                                                    </td>

                                                </tr>
                                            }
                                        }
                                    }

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Name</th>
                                        <th>No of users</th>
                                        <th>Date created</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>