@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "_Auth";
}

<section class="d-flex justify-content-center align-items-center h-87">
    <div class="card rounded top">
        <form id="account" method="post">
            <div class="bg-dark rounded-top center p-0">
                <img src="~/img/P.png" alt="Admin Panel" width="90" height="50">
            </div>
            <div class="p-4">
                <h4>Use a local account to log in</h4>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Username" class="form-control shadow-none" autocomplete="username" aria-required="true" placeholder="Username" />
                    <label asp-for="Input.Username" class="form-label">Username</label>
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control shadow-none" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label shadow-none">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 shadow-none btn btn-lg btn-success">Log in</button>
                </div>
                <div class="py-3 center">
                    <div>
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
