@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "_Auth";
}

<partial name="_StatusMessage" for="StatusMessage" />

<div class="card card-outline primary-border">
    <div class="card-header text-center">
        <a href="/" class="h4">
            Admin Panel
        </a>
    </div>
    <div class="card-body">
        <h4 class="login-box-msg">Login</h4>
        <form id="account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-group mb-3">
                <input type="text" class="form-control shadow-none" placeholder="Username" asp-for="Input.Username"
                       autocomplete="username" aria-required="true">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-user"></span>
                    </div>
                </div>
            </div>
            <span asp-validation-for="Input.Username" class="text-danger"></span>

            <div class="input-group mb-3">
                <input type="password" class="form-control shadow-none" placeholder="Password" asp-for="Input.Password"
                       autocomplete="current-password" aria-required="true">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <span asp-validation-for="Input.Password" class="text-danger"></span>

            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="icheck-primary shadow-none">
                        <input type="checkbox" class="shadow-none" id="remember" asp-for="Input.RememberMe">
                        <label for="remember" asp-for="Input.RememberMe">
                            <small>Remember me</small>
                        </label>
                    </div>
                </div>
                <div class="col-md-6 float-end">
                    <p class="mb-1">
                        <small class="float-end">
                            <a id="forgot-password" asp-page="./ForgotPassword" class="text-center">forgot password?</a>
                        </small>
                    </p>
                </div>
            </div>
            

            <button id="login-submit" type="submit" class="btn btn-success shadow-none w-100 btn-block">Sign In</button>
        </form>
    </div>
</div>

<div class="card my-3">
    <div class="text-center my-2">
        <p class="mb-0">
            New to Admin Panel?
        </p>
        <p class="mb-0">
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-center">Create an account</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
