@page
@model RegisterModel
@{
    ViewData["Title"] = "Creat an Account";
    Layout = "_Auth";
}

<partial name="_StatusMessage" for="StatusMessage" />

<div class="card card-outline primary-border">
    <div class="card-header text-center">
        <a href="/" class="h4">
            Admin Panel
        </a>
    </div>
    <div class="card-body">
        <h4 class="login-box-msg">Creat an account</h4>
        <form id="account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control shadow-none" placeholder="Username" asp-for="Input.UserName"
                               autocomplete="username" aria-required="true">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>

                    <div class="input-group mb-3">
                        <input type="text" class="form-control shadow-none" placeholder="Firstname" asp-for="Input.FirstName"
                               autocomplete="firstname" aria-required="true">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>

                    <div class="input-group mb-3">
                        <input type="text" class="form-control shadow-none" placeholder="Lastname" asp-for="Input.LastName"
                               autocomplete="lastname" aria-required="true">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>

                    <div class="input-group mb-3">
                        <input type="email" class="form-control shadow-none" placeholder="Email" asp-for="Input.Email"
                               autocomplete="email" aria-required="true">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="">
                    <div class="input-group mb-3">
                        <input type="tel" class="form-control shadow-none" placeholder="Phone number" asp-for="Input.PhoneNumber"
                               autocomplete="phoneNumber" aria-required="true">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-phone"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>

                    <div class="input-group mb-3">
                        <select asp-for="Input.Gender" class="form-control shadow-none">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.Gender" class="text-danger"></span>

                    <div class="input-group mb-3">
                        <input type="password" class="form-control shadow-none" placeholder="Password" asp-for="Input.Password"
                               autocomplete="current-password" aria-required="true">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>

                    <div class="input-group mb-3">
                        <input type="confirmPassword" class="form-control shadow-none" placeholder="Confirm Password" asp-for="Input.ConfirmPassword"
                               autocomplete="confirm-password" aria-required="true">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>


            <button id="login-submit" type="submit" class="btn btn-success shadow-none w-100 btn-block">Sign In</button>
        </form>
    </div>
</div>

<div class="card my-3">
    <div class="text-center my-2">
        <p class="mb-0">
            New to Admin Panel?
        </p>
        <p class="mb-0">
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-center">Create an account</a>
        </p>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
