@page
@model AdminPanel.Areas.Admin.Pages.ManageUsers.ProfileModel
@{
    Layout = "_Dashboard";
    ViewData["Title"] = "Roles";
}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>User Profile</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Profile / @Model.UserData.UserName</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            
        </div>
    </section>
</div>
